<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Text Translator</title>
</head>
<body>
<header>
    <nav>
        <div class="title">
            <h1>Text Translator</h1>
        </div>

        <div class="links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">All Available Languages</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contribute GitHub</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="main">